
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Burger Logger</title>
		{{!-- Fav Icon --}}
		<link rel="icon" type="image/x-icon" href="./assets/favicon/favicon.ico" />
		{{!-- Google Font --}}
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
		{{!-- Compiled and minified CSS  --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		{{!-- Compiled and minified JavaScript  --}}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		{{!-- Icons --}}
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{{!-- Jquery Script --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- Own js script --}}
		<script src="/assets/js/burgers.js"></script>
		{{!-- Own css style --}}
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>